:root {
	--background: #212529;
	--primary-background: #1B1E22;
	--secondary-background: #181B1E;
	--emphasis-background: #121416;
	--font-color: white;
    --emphasis-font-color: white;
    --toast-font-color: white;
    --success-background: green;
    --fail-background: red;
}