:root {
	--background: #212529;
	--primary-background: #1B1E22;
	--secondary-background: #181B1E;
    --emphasis-background: #0c0f11;
    --separator: #5E6063;
    --font-color: white;
    --secondary-font-color: grey;
    --toast-font-color: white;
    --success-background: green;
    --fail-background: red;
    --unselectable-color: #3f0000;
}
