:root {
	--background: white;
	--primary-background: #F8F9FA;
	--secondary-background: #e0e0e0;
    --emphasis-background: #9BA2A9;
    --separator: var(--secondary-background);
    --font-color: black;
    --secondary-font-color: grey;
    --emphasis-font-color: white;
    --toast-font-color: white;
    --success-background: green;
    --fail-background: red;
}