:root {
	--color-scheme: light dark;
  }

body {
	background-color: var(--background);
	color: var(--font-color);
	font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title {
	font-size: xx-large;
	padding-left: 1vw;
}

.description {
	font-size: large;
	padding-left: 1vw;
}

.navbar {
	list-style-type: none;
	margin: 0;
	margin-left: 75%;
	padding: 0;
	width: 25%;
	background-color: var(--primary-background);
	height: auto; /* Full height */
	position: fixed; /* Make it stick, even on scroll */
	overflow: auto; /* Enable scrolling if the sidenav has too much content */
	border-radius: 10px;
}

.navbar-item {
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	text-align:center;
	cursor: pointer;
}

.primary-navbar-item {
	background-color: var(--emphasis-background);
	color: var(--emphasis-font-color);
}

.secondary-navbar-item {
	color: var(--font-color);
}

.secondary-navbar-item:hover {
	background-color: var(--secondary-background);
}

.grid-container {
	display: grid;
	width: 75%;
	grid-template-columns: 1fr 1fr 1fr 1fr;

}

.selection-box {
	width: auto;
	height: auto;
	background-color: var(--emphasis-background);
	border-radius: 2vw;
	padding: 5px;
	margin: 20px;
	cursor: pointer;
	color: var(--font-color);
}

.unselected {
	background-color: var(--secondary-background);
}

.selected {
	background-color: var(--emphasis-background);
	color: var(--emphasis-font-color);
}

.pack-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
}

.pack-label {
	text-align: center;
	font-size: large;
}

.pack-desc {
	text-align: center;
	font-size: medium;
}

.invisible {
	display: none;
}