name: Clear Dropbox Packs

on:
  schedule:
    - cron: "0 0 * * *" # runs daily

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [12.x]


    steps:

    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: install node dependencies
      working-directory: ./src
      run: npm install

    - name: clear dropbox packs
      working-directory: ./src
      run: npm clear

      env:
        CI: true
        DBXACCESSTOKEN: ${{secrets.DBXACCESSTOKEN}}
